body {
    font-family: Arial;
}

#fejlec {
    width: 100%;
    height: 30px;
    border-style: solid;
    border-color: #333333;
    background-color: #cdcdcd;
    font-size: xx-large;
    display: flex;
    justify-content: center;
    align-items: center;
}

#tartalom {
    width: 800px;
    margin: auto auto;
    margin-bottom: 50px;
}

.repulo {
   width: 235px; 
   height: 180px;
   border-style: solid;
   border-color: #333333;
   border-radius: 10px 10px;
   background-color: #3cb878;
   text-align: center;
   color: #cccccc;
   font-size: x-large;
   font-weight: bold;
   float: left;
}

#tarsasagok {
    margin: 20px 20px 20px 0px;
}

#repterek {
    margin: 20px 20px 20px 20px;
}

#kesesek {
    margin: 20px 0px 20px 20px;
}

.szoveg {
    font-size: large;
    font-weight: bold;
}

.vers {
    width: 350px;
    margin: auto auto;
    font-size: small;
}

#versfej {
    text-align: center;
    font-weight: bold;
    font-size: large;
}

.keszitok {
    width: 190px;
    float: left;
    text-align: center;
    border-right: solid;
    font-size: small;
}

#last {
    border-right: none;
}

a:link {
    color: #3cb878;
}
a:visited {
    color: #3cb878;
}
a:hover {
    color: #3cb878;
}
a:active{
    color: #3cb878;
}

.keses{
    width: 200px;
    margin: 10px 10px 10px 10px;
    font-size: small;
    border-style: solid;
    border-color: #000000;
    float: left;
}

    #terkoz1 {
        margin: 20px 60px 20px 20px;
    }
    
    #terkoz2 {
        margin: 20px 20px 20px 20px;
    }
    
    #terkoz3 {
        margin: 20px 0px 20px 60px;
    }